[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi-slim = "*"
python-multipart = "*"
uvicorn = {extras = ["standard"] }
pyjwt = "*"
passlib = {extras = ["bcrypt"] }
python-jose = {extras = ["cryptography"] }
requests = "*"
python-dotenv = "*"
sqlalchemy = "*"
pymysql = "*"
pytz = "*"
pyhumps = "*"
fastapi-camelcase = "*"

[dev-packages]
pytest = "*"
httpx = "*"

[requires]
python_version = "3.10"
