[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi-slim = "*"
python-multipart = "*"
uvicorn = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
requests = "*"
python-dotenv = "*"

[dev-packages]
fastapi = "*"

[requires]
python_version = "3.10"
