<!DOCTYPE html>

<html>

<head>
    <title>Chat</title>
</head>

<body>
    <h1>WebSocket Chat</h1>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off" />
        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
    <script>
        var ws = new WebSocket("ws://localhost:8000/api/chatting/ws");
        var currentMessages = {};  // 현재 메시지 저장용 객체

        ws.onmessage = function (event) {
            var messages = document.getElementById('messages');
            var data = JSON.parse(event.data);

            if (data.character) {
                if (!currentMessages[data.response_id]) {
                    var message = document.createElement('li');
                    message.id = 'message-' + data.response_id;
                    currentMessages[data.response_id] = message;
                    messages.appendChild(message);
                }
                currentMessages[data.response_id].textContent += data.character;
            } else if (data.time) {
                var timeMessage = document.createElement('li');
                timeMessage.textContent = data.time;
                messages.appendChild(timeMessage);
            }
        };

        function sendMessage(event) {
            var input = document.getElementById("messageText");
            ws.send(input.value);
            input.value = '';
            event.preventDefault();
        }
    </script>
</body>

</html>
